@import "C:/Users/banga/OneDrive/Documents/VSCode/.vscode/.vscode/conference/NITK_EEE_DEP/node_modules/bootstrap/scss/bootstrap";
$accordion-bg: lightgray;
$accordion-padding-y: 1rem;
$accordion-padding-x: 1.25rem;
$accordion-color: red;

// Override other variables as needed

